<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ title| default('machine_time_new_title')  | trans}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        </div>
        <div>
            {{ include('tiempo_maquina/_form.html.twig') }}
        </div>
    </div>
</div>
