<li class="m-menu__item">
	<a href="{{ path('balance_anual_index') }}" class="m-menu__link">
		<i class="m-menu__link-icon flaticon-statistics"></i>
		<span class="m-menu__link-text">Balance anual</span>
	</a>
</li>