<li class="m-menu__item">
    <a href="{{ path('tiempo_maquina_index') }}" class="m-menu__link">
        <i class="m-menu__link-icon flaticon-computer"></i>
        <span class="m-menu__link-text">{{ 'tmachine'| trans }}</span>
    </a>
</li>
