<h5>{{ 'pieces'|trans }} </h5>
<a class="btn btn-sm btn-primary edicionpieza tooltips btn-sm text-uppercase font-weight-bold m--margin-bottom-20" data-placement="bottom" data-original-title="{{ 'piece_register_tooltip'|trans }}" data-href="{{ path('registropieza_new',{'pc':pc.id}) }}"><i
            class="fa fa-plus-circle"></i>{{ 'register'|trans }}</a>
{% include 'registropieza/_table.html.twig' %}
