{% extends "layout/base.html.twig" %}

{% block header %}
{% embed "layout/recortes/header.html.twig" %}
    {% block user_shortcut_menu %}
        {{ include('layout/recortes/topmenu/language_topmenu.html.twig') }}
    {% endblock %}
{% endembed %}
{% endblock header %}

{% block page_container %}
    <div class="page-content">
        {% block body %}{% endblock %}
    </div>
{% endblock page_container %}
